body {
  background: rgb(176, 251, 252);
  background: linear-gradient(
    0deg,
    rgba(176, 251, 252, 1) 0%,
    rgb(234 179 249 / 39%) 100%
  );
}

.App section {
  background-color: white;
  max-width: 750px;
  display: block;
  margin: 15px AUTO;
  padding: 20px 60px;
  box-shadow: 0px 4px 17px 0px #a5a5a5;
  border-radius: 7px;
}

ul {
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
