body {
  background: rgb(176, 251, 252);
  background: linear-gradient(
    0deg,
    rgba(203 248 249) 0%,
    rgb(240 208 249 / 39%) 100%
  );
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
}

.App section {
  background-color: white;
  max-width: 950px;
  display: block;
  margin: 15px AUTO;
  padding: 20px 60px;
  box-shadow: 0px 5px 10px 2px rgb(163 164 165 / 20%);
  border-radius: 7px;
}

ul {
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
