h1 {
  text-align: center;
  margin: 20px auto;
}
label {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin: 20px auto;
  display: block;
  line-height: 29px;
}
.logo {
  width: 8%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}
.SearchForm {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: #f1edfb;
}
.Submit {
  background-color: #5be0ca;
  border: none;
  padding: 15px;
  border-radius: 5px;

  font-size: 18px;
}
.Submit:hover {
  background-color: #4fb4a3;
  color: white;
}
.PForm {
  margin: 20px auto;
  color: #666;
}
